<!DOCTYPE html>
<html>
<head>
    <title>Single page web app using Angularjs</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script>
        $( document ).ready(function() {
            $.post( "/getUsers", function( data ) {
                $( "#users" ).html( data );
            });
        });
    </script>

</head>
<body>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5" id="chat" style="background-color: azure"></div>
        <div class="col-sm-1" id="users" style="background-color: beige"></div>
        <div class="col-sm-3"></div>
    </div>
</body>
</html>
